@import url("https://fonts.googleapis.com/css?family=Chilanka|Lobster|Permanent+Marker|Righteous|Saira+Stencil+One&display=swap");
.title-font {
  font-family: "Chilanka", cursive;
  font-family: "Lobster", cursive;
  font-family: "Righteous", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Saira Stencil One", cursive;
}

@import url("https://fonts.googleapis.com/css?family=Chilanka|Lobster|Lobster+Two|Permanent+Marker|Ravi+Prakash|Righteous|Saira+Stencil+One&display=swap");
.status-font {
  font-family: "Chilanka", cursive;
  font-family: "Lobster", cursive;
  font-family: "Righteous", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Saira Stencil One", cursive;
  font-family: "Ravi Prakash", cursive;
  font-family: "Lobster Two", cursive;
}

@import url("https://fonts.googleapis.com/css?family=Chilanka|Lobster|Lobster+Two|Luckiest+Guy|Permanent+Marker|Ravi+Prakash|Righteous|Saira+Stencil+One|Special+Elite&display=swap");
.win-font {
  font-family: "Chilanka", cursive;
  font-family: "Lobster", cursive;
  font-family: "Righteous", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Saira Stencil One", cursive;
  font-family: "Ravi Prakash", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Special Elite", cursive;
}

/* .square {
  background: white;
  border: 1px solid gray;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
} */

body {
  /* background-color: #282c34; */
  background-image: url("picture.gif");
}

.title {
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 2px 2px 20px #8a9292;

  font-family: "Chilanka", cursive;
  font-family: "Lobster", cursive;
  font-family: "Righteous", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Saira Stencil One", cursive;

  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  font-size: 33px;
  letter-spacing: 3.2px;
  word-spacing: 4px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  /* font-style: italic; */
  font-variant: small-caps;
  text-transform: capitalize;

  /* text-shadow: 10px 10px 0px #373838, 20px 20px 0px #202020; */
}

.win {
  color: red;

  font-family: "Chilanka", cursive;
  font-family: "Lobster", cursive;
  font-family: "Righteous", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Saira Stencil One", cursive;
  font-family: "Ravi Prakash", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Special Elite", cursive;

  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  text-shadow: 2px 2px 20px #6c7070;

  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 3.2px;
  word-spacing: 4px;
  font-weight: 100; */
}

.status {
  color: rgb(241, 238, 238);
  font-size: 25px;

  font-family: "Chilanka", cursive;
  font-family: "Lobster", cursive;
  font-family: "Righteous", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Saira Stencil One", cursive;
  font-family: "Ravi Prakash", cursive;
  font-family: "Lobster Two", cursive;

  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  text-shadow: 2px 2px 15px #66f6e1;
}

.square {
  background: #fff;
  border: 1px solid white;
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #66f6e1;
  margin: 10px;
  text-shadow: 2px 2px 20px #070505;
  box-shadow: 2px 2px 10px #a7f0e5;
}

.square:focus {
  outline: none;
}

.border-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 20%;
}

ul {
  padding-left: 30px;
  list-style-type: none;
}

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
}

.button_cont {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #4e4f4f;
  padding: 10px;
  border-radius: 100px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button_cont:hover {
  text-shadow: 0px 0px 6px rgb(52, 235, 204);
  /* -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57); */
  transition: all 0.4s ease 0s;
}
